@{
    ViewBag.Title = "About";

}
<h3>About Us</h3>
<hr />
<div class="container p-2">
    <h3 class="font-weight-bold"></h3>
    <div class="secondBodyContent">
        <h4><b>Chandanalepa – The Ultimate Cream of Sandalwood.</b></h4>
        <p>The innovation of this marvel cream, dates back to 1948. In Veyangoda, a city in the Gampaha District, was an Ayurvedic shop that was owned by a renowned Ayurvedic Physician, by the name of Dr. R. D. P Jayaratne, he inherited this Ayurvedic shop from his forefathers.

        Little did the community know that he was also blessed with many traditional and secretive Ayurvedic recipe books, that were about to change the lives of many. He was innate with a rich touch of heritage and wisdom of over hundreds of years.

        He then gave life to one of the unique formulas, with nine time tested Ayurvedic herbs, six Herbal ingredients and 100% natural oils into a wondrous face cream.

        Back then this unique face cream, was sold in small tubs, without a brand name. With no fancy label and package, it became the talk of the town, the perfect remedy for many of the common skin disorders faced by the girls in Veyangoda. Promptly, it became the most popular, life transforming, miracle cream of the town. As it is a 100% Ayurvedic face cream produced with the use of Natural herbs and oils, it worked wonders, and won the admiration and trust of many.

        It was highly effective in curing dark patches, pimples, black heads, wrinkles, ageing spots and discoloration of the skin. Word of Mouth became the initial advertising tool of this cream. The outstanding popularity and the countless number of success stories of this little tub of Miracle cream, influenced Dr. Jayaratne to handover this great success to his young and enthusiastic son, who named this distinctive cream as “Chandanalepa” and gave heart to this cherished legacy.

        </p>
    </div>
</div>
