@{
    ViewBag.Title = "ContactUs";

}
<h3>Contact Us</h3>
<hr />
<div class="container p-2">
    <h3 class="font-weight-bold"></h3>
    <div class="secondBodyContent">
        <h4><b>Get in Touch</b></h4>
        <p>
            We at Chandanalepa, strive for the best for our consumers. We believe in ethics, trust and good will. Call us or mail us your queries. Or else you can fill this quick contact form and send your requirement. One of our team member will contact you within 24 hours.
            The Office
            <br /><br /><br />
            Address : Sanjeewaka Ayurvedic Products (PVT)Ltd.
            11/1, Farm Estate, Udammita, Veyangoda, Sri Lanka.
            <br />
            Phone : (+94) 33 228 9203
            <br />
            Hotline : (+94) 77 952 6496
            <br />
            Fax : (+94) 33 228 7073
            <br />
            Email : ceo@chandanalepa.lk
            <br />
            Email : info@chandanalepa.lk
            <br /><br /><br />
            <b>Business Hours</b>
            <br />
            Monday - Friday - 7.30am to 5.30pm
            <br />
            Saturday - Closed
            <br />
            Sunday - Closed


        </p>
    </div>
</div>
